.box {
    margin-bottom: 50px;
}

.boxName {
    display: inline-block;
    background-color : rgba(239,209,5, 0.4);
    font-size : 1.3em;
    border: 1px;
}

.boxContent > img {
    width : 200px;
    height : 200px;
    border-radius: 15%;
    margin-right: 10px;
}