<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<title>왔다 아이가!</title>
</head>
<body>
	<div class="main-container">
		<div class="main-wrap">
		<header>
			<div class="logo-wrap">
				<h1>사용자 동의</h1>
			</div>
		</header>
		<section class="login-input-section-wrap">
			<span class="input_chk">
			<input type="checkbox" id="chk_all" name="chk_all">
			<span class="chk_all_txt">이용약관 다 동의합니다<br class="m_br"> 선택사항 까지 동의함</span>
		</span>
            <li class="terms_bx">
			<div class="terms_box" tabindex="0" id="divService">
				<div class="article">
				<h3 class="article__title">1번 동의</h3>
				<p class="article__text">
					
				</p>
				</div>                           
			</div>
			</li>
			<div class="sort-right">
				<label for="termsService">이용약관 동의<span class="terms_necessary"> (필수)</span></label>
				<input type="checkbox" id="termsService" name="termsService" class="chk">
			</div>
			<li class="terms_bx">
			<div class="terms_box" tabindex="1" id="divService">
				<div class="article">
				<h3 class="article__title">2번 동의</h3>
				<p class="article__text">

				</p>
				</div>                           
			</div>
			</li>
			<div class="sort-right">
				<label for="termsService">이용약관 동의<span class="terms_necessary"> (필수)</span></label>
				<input type="checkbox" id="termsService" name="termsService" class="chk">
			</div>
			<li class="terms_bx">
			<div class="terms_box" tabindex="2" id="divService">
				<div class="article">
				<h3 class="article__title">3번 동의</h3>
				<p class="article__text">

				</p>
				</div>                           
			</div>
			</li>
			<div class="sort-right">
				<label for="termsService">이용약관 동의<span class="terms_necessary"> (필수)</span></label>
				<input type="checkbox" id="termsService" name="termsService" class="chk">
			</div>
			<li class="terms_bx">
			<div class="terms_box" tabindex="3" id="divService">
				<div class="article">
				<h3 class="article__title">4번 동의</h3>
				<p class="article__text">
					
				</p>
				</div>                           
			</div>
			</li>
			<div class="sort-right">
				<label for="termsService">이용약관 동의<span class="terms_necessary"> (선택)</span></label>
				<input type="checkbox" id="termsService" name="termsService" class="chk">
			</div>
			<div class="login-agree-box">
				<a href="wadda_join.html" class="link_box">&nbsp;&nbsp; 동의하기 &nbsp;&nbsp;</a>
			</div>
		</section>
		</div>
	</div>
	</body>
</html>