<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>맞춤 추천 코스</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..static/css/course.css">
    </head>
    <body>
        <h1>추천 코스</h1>
        <ps> <div class = "course">자연친화적 </div><div>여행을
        <br>원하는 당신에게 딱!</div></p>
        <p><img src = "..static/image/recom_1.png"></p>
        <p><img src = "..static/image/recom_2.png"></p>
        <p><img src = "..static/image/recom_3.png"></p>
    </body>