<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>왔다 아이가!</title>
</head>

<body>
    <div class="main-container">
        <header>

        </header>
        <div class="main-section">
            <div id="slide-show">
                <div class="image">
                    <img src="./mainImg1.jpg" alt="메인 슬라이드쇼">
                    <div class="image-text">
                        <h2>가을하늘에</h2>
                        <h2>은하수</h2>
                    </div>
                </div>
                
            </div>
        </div>

        <h2>주변 관광지</h2>
        <section class="story-section">
                <div class="story-terms_box" tabindex="0" id="divService">
                    <ul>
                        <li><a href="#"><img src="./storyimg.jpg" alt="스토리1"></a></li>
                    </ul>
                </div>
            </span>
        </section>

        <h2>날씨</h2>
        <section class="weather-section">
                <div class="weather-terms_box" tabindex="1" id="divService">
                    <ul>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                        <li><a href="#"><img src="./weather-bright.jpg" alt="날씨1"></a></li>
                    </ul>                       
                </div>
        </section>
    </div>

    <div class="bottom_menu">
        <div>
            <a href="{% url 'schedule' %}"><img src="{% static 'images/b-date.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/b-filled-home.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'sights' %}"><img src="{% static 'images/b-loca.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'box' %}"><img src="{% static 'images/b-heart.png' %}"></a>
        </div>
    </div>
</body>