<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>왔다 아이가!</title>
</head>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>

$.ajax({ 
    url:"https://wadda1.cafe24.com/tk/load_td.php?detail=1", 
    type:"POST", 
    success: function(result) { 

		
		html2 = "";
		result = JSON.parse(result);
	
		for(i=0;i<result.length;i++){
			html2 += '<li><a href="https://wadda1.cafe24.com/tk/wadda_gwangwang.php?detail=' + result[i].seq + '"><img src="' + result[i].pic1 + '" alt="스토리1"></a></li>';
		}

		$("#liclass").html(html2);
		

        
    } 
});

</script>

<body>
    <div class="title" style="box-shadow: 0;">
        <img id="lightlogo" src="{% static 'images/lightlogo.png' %}">
        <a href="{% url 'setting' %}"><img id="setting" src="{% static 'images/setting.png' %}"></a>
    </div>
    <div class="main-container">
        <header>

        </header>
        <div class="main-section">
            <div id="slide-show">
                <div class="image"><img src="{% static 'images/mainImg1.jpg' %}"></div>
                <div class="image"><img src="{% static 'images/mainImg2.jpg' %}"></div>
                <div class="image"><img src="{% static 'images/mainImg3.jpg' %}"></div>
            </div>
        </div>

        <h2>둘러보기</h2>
        <section class="story-section">
                <div class="story-terms_box" tabindex="0" id="divService">
                    <ul>
                        <!--
                        <li><a href="#"><img src="./storyimg.jpg" alt="스토리1"></a></li>
                        -->
                    </ul>
                </div>
            </span>
        </section>

        <h2>날씨</h2>
        <section class="weather-section">
                <div class="weather-terms_box" tabindex="1" id="divService">
                    <ul>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                        <li><a href="#"><img src="{% static 'images/weather-bright.jpg' %}" alt="날씨1"></a></li>
                    </ul>                       
                </div>
        </section>
    </div>

    <div class="bottom_menu">
        <div>
            <a href="{% url 'schedule' %}"><img src="{% static 'images/b-date.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/b-filled-home.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'sights' %}"><img src="{% static 'images/b-loca.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'gym' %}"><img src="{% static 'images/b-heart.png' %}"></a>
        </div>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
</body>