<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bar.css">
    <link rel="stylesheet" href="../static/css/illjeong.css">
    <title>Document</title>
</head>

<body>
    <h2>일정 관리</h2>
    <div style="left: 0;" id="dv">
        <center>
            <h3>3/1</h3>
            <img src="../static/image/haeba.png">
            <br>
            <br>
            <img src="../static/image/haeba.png">
            <br>
            <br>
            <img src="../static/image/haeba.png">
        </center>
    </div>
    <div style="left: 33.3%;" id="dv">
        <center>
            <h3>3/2</h3>
            <img src="../static/image/haeba.png">
            <br>
            <br>
            <img src="../static/image/haeba.png">
            <br>
            <br>
            <img src="../static/image/haeba.png">
        </center>
    </div>
    <div style="left: 66.6%;" id="dv">
        <center>
            <h3>3/3</h3>
            <img src="../static/image/haeba.png ">
            <br>
            <br>
            <img src="../static/image/haeba.png ">
            <br>
            <br>
            <img src="../static/image/haeba.png ">
        </center>
    </div>
    <div class="bottom_menu">
        <div>
            <a href=" 'kiwe.html"><img id="babar" src="../static/image/calenpng"></a>
            <!-- 수정 -->
        </div>
        <div>
            <a href="friends.html"><img id="babar" src="../static/image/home.png"></a>
            <!-- 수정 -->
        </div>
        <div>
            <a href="memories.html"><img id="babar" src="../static/image/heart.png"></a>
            <!--수정  -->
        </div>
        <div>
            <a href="'setting.html "><img id="babar" src="../static/image/setting.png "></a>
            <!-- 수정 -->
        </div>
    </div>
</body>

</html>