<!doctype HTML>
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>왔다 아이가</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<script src="{% static 'js/q.js' %}"></script>
    <style>
        input[type=radio] { display:none; margin:10px }

    </style>
</head>
<body>
    <div class="main-container">
    <form action="" method="post">
        {% csrf_token %}
		<div class="main-wrap">
            <header>
                <div class="logo-wrap">
                    <img src="{% static 'images/logo.png' %}" alt="wadda-logo" width=auto height="200px">
                    <h1>{{ question.question }}</h1>
                </div>
            </header>
            <section class="question-section-wrap">
                <div class="question-button-wrap">
                    <ul>
                        {% for choice in choices %}
                        <li>
                            <button id="answer-a" onclick="javascript:send( {{ question.id }}, {{ choice.id }} )">
                                {{ choice.choice }}
                            </button> 
                        </li>
                        {% endfor %}
                    </ul>
			    </div>
            </section>
            </div>
    </form>
    </div>
</body>