<!doctype HTML>
<head>
	<meta charset="UTF-8">
	<title>왔다 아이가</title>
	<link rel="stylesheet" href="wadda.css">
	<script src="wadda.js"></script>
    <style>
        input[type=radio] { display:none; margin:10px }

    </style>
</head>
<body>
    <div class="main-container">
        
		<div class="main-wrap">
            <header>
                <div class="logo-wrap">
                    <img src="wadda_logo.jpg" alt="wadda-logo" width=auto height="200px">
                    <h1>누구와 함께 가시나요?</h1>
                </div>
            </header>
            <section class="question-section-wrap">
                <div class="question-button-wrap">
                    <ul>
                        <li>
                            <input type="radio" name="answer" id="answer-a">
                            <label for="answer-a">친구</label>
                        </li>
                        <li>
                            <input type="radio" name="answer" id="answer-b">
                            <label for="answer-b">친구</label>
                        </li>
                        <li>
                            <input type="radio" name="answer" id="answer-c">
                            <label for="answer-c">친구</label>
                        </li>
                        <li>
                            <input type="radio" name="answer" id="answer-d">
                            <label for="answer-d">친구</label>
                        </li>
                    </ul>
			    </div>
            </section>
            </div>
    </div>
</body>