<!doctype HTML>
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>왔다 아이가</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<script src="wadda.js"></script>
    <style>
        input[type=radio] { display:none; margin:10px }

    </style>
</head>
<body>
    <div class="main-container">
    <form action="" method="post">
        {% csrf_token %}
		<div class="main-wrap">
            <header>
                <div class="logo-wrap">
                    <img src="wadda_logo.jpg" alt="wadda-logo" width=auto height="200px">
                    <h1>{{ question.question }}</h1>
                </div>
            </header>
            <section class="question-section-wrap">
                <div class="question-button-wrap">
                    <ul>
                        {% for choice in choices %}
                        <li>
                            <input type="radio" name="answer" id="answer-a">
                            <label for="answer-a">{{ choice.choice }}</label>
                        </li>
                        {% endfor %}
                    </ul>
			    </div>
            </section>
            </div>
    </form>
    </div>
</body>