<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sight.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<title>왔다 아이가!</title>
</head>
<body>
    <form name="gym" method="POST">
    {% csrf_token %}

    <div class="main-container">
        {% if s in request.user.gym.all %}
        <img id="gym" onclick="javascript:clickgym()" src="{% static 'images/b-filled-heart.png' %}">
        {% else %}
        <img id="gym" onclick="javascript:clickgym()" src="{% static 'images/b-heart.png' %}">
        {% endif %}
        <div class="image-section">
            <div class="tour-sight-image">
                <div class="image">
                    <img src="{{ s.image.url }}" id="sMainImg">
                    <div class="image-text">
                        <h2 id="sName">{{ s.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div id="sTags">
                {% for tag in s.tags.all %}
                <a href="{% url 'sights' %}?search={{ tag.name }}">#{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div id="sAddress"><img src="{% static 'images/location.png' %}">{{ s.address }}</div>
            <div id="sNumber"><img src="{% static 'images/phone.png' %}">{{ s.tel }}</div>
            <div id="sTime"><img src="{% static 'images/time.png' %}">{{ s.time }}</div>
            <div id="sOpen"><img src="{% static 'images/calendar.png' %}">{{ s.closed }}</div>
            <div id="sInfo">{{ s.description }}</div>
        </div>
        <!-- 이 기능 킵
        <div class="info-image-section">
            <div id="sImg">
                <h3>업로드 된 사진</h3>

            </div>
        </div>
        -->
        </div>
    </form>

    <div class="bottom_menu">
        <div>
            <a href="{% url 'schedule' %}"><img src="{% static 'images/b-date.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/b-home.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'sights' %}"><img src="{% static 'images/b-filled-loca.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'gym' %}"><img src="{% static 'images/b-heart.png' %}"></a>
        </div>
    </div>
</body>
</html>

<script>
    function send(rt) {
        var data = {
            rt : rt,
        }

        $.ajax({
            url : "{% url 'sight' s.id %}",
            type : "POST",
            headers : {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            dataType : "json",
            data : JSON.stringify(data),
            async : false,
        });

    }

    function clickgym() {
        now = document.getElementById('gym');
        if(now.src.includes('b-heart.png')) {
            now.src = "{% static 'images/b-filled-heart.png' %}";
            send('gym');
        }
        else {
            now.src = "{% static 'images/b-heart.png' %}";
            send('nogym');
        }
}
</script>
