<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
	<title>왔다 아이가</title>
	<link rel="stylesheet" href="wadda.css">
</head>

<body>
    <div class="main-container">
        <div class="image-section">
            <div class="tour-sight-image">
                <div class="image">
                    <img src="./sightstop001.jpg" id="sMainImg">
                    <div class="image-text">
                        <h2 id="sName">맥도 생태 공원</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div id="sAddress"><img src="./location.png">부산 강서구 대저2동 1200-32</div>
            <div id="sNumber"><img src="./phone.png">051-941-9728</div>
            <div id="sTime"><img src="./time.png">00:00 ~ 24:00</div>
            <div id="sOpen"><img src="./calendar.png">오늘은 여는 날입니다.</div>
            <div id="sInfo">맥도생태공원은 낙동강하구 천연기념물 179호(철새도래지)로 지정된 지역이다. ...더보기</div>
            
        </div>
        <div class="info-image-section">
            <div id="sImg">
                <h3>업로드 된 사진</h3>

            </div>
        </div>
    </div>
</body>