<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>관광자 나열 목록</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sights.css' %}">
    </head>
    <body>
        <h1>관광지</h1>
        <div class="box">
        {% if search == '' %}
            <p class="boxName">전체 관광지</p>
        {% else %}
            <p class="boxName">#{{ search }}</p>
        {% endif %}
            <p class="boxContent">
                {% for sight in all %}
                <a href="{% url 'sight' sight.id %}"><img src="{{ sight.image.url }}"></a>
                {% endfor %}
            </p>
        </div>
        <br>

        <div class="bottom_menu">
            <div>
                <a href="{% url 'schedule' %}"><img src="{% static 'images/b-date.png' %}"></a>
            </div>
            <div>
                <a href="{% url 'home' %}"><img src="{% static 'images/b-home.png' %}"></a>
            </div>
            <div>
                <a href="{% url 'sights' %}"><img src="{% static 'images/b-filled-loca.png' %}"></a>
            </div>
            <div>
                <a href="{% url 'gym' %}"><img src="{% static 'images/b-heart.png' %}"></a>
            </div>
        </div>
    </body>
</html>